.trackerSwitcher {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trackerSwitcher button {
    height: 50px;
    width: 224px;
    border-radius: 100px;
    border: none;
    font-weight: 500;
    font-size: 20px;
    color: white;
    font-family: "Lemon Milk", sans-serif;
    margin: 0 15px 0 15px;
}

.activeLink {
    background-color: #F7A200;
}

.inactiveLink {
    background-color: #926000;
}

@media only screen and (max-width: 500px) {
    .trackerSwitcher {
        flex-wrap: wrap;
        height: auto;
    }

    .trackerSwitcher button {
        margin-top: 10px;
    }

    .trackerSwitcher a:last-child {
        margin-bottom: 10px;
    }
}