<div class="overlay">
    <div class="info">
        <div class="infoTitle">It seems something went wrong.</div>
        <div class="infoText">
            It seems something went wrong while loading the saved data.<br>
            Pressing the reset saved data button below should resolve the issue (but will clear out any changes you made).<br><br>
            If the issue persists contact me on discord username: starlines
        </div>
        <button class="resetButton" (click)=resetData()>Reset Data</button>
    </div>
</div>