<app-maplestory-side-navigation></app-maplestory-side-navigation>
<!-- <div class="info" *ngIf="showInfo">
    <p>I recently made changed to the weeklies tracker. Due to some unforseen issues it could be that the saved data wasn't converted properly. If you are experiencing issues press the reset button to reset the saved data. If you are not experiencing any issues click on the dismiss buton to remove this message.</p>
    <button class="buttonStyle" (click)="infoReset()">Reset Data</button>
    <button class="buttonStyle" (click)="infoDismiss()">Dismiss</button>
</div> -->
<div class="gamePageContent">
    <app-task-topbar-default *ngIf="!weekliesData.editModeActive" [taskData]="weekliesData" [topBarTitle]="'Weekly Tracker'" [editButtonTitle]="'Weeklies'" (changeEvent)="changeHandler()"></app-task-topbar-default>
    <app-task-topbar-editmode *ngIf="weekliesData.editModeActive" [taskData]="weekliesData" [topBarTitle]="'Weekly Tracker'" [regions]="regions" (changeEvent)="changeHandler()" (regionChangeEvent)="regionChangeHandler()"></app-task-topbar-editmode>
     
    <div class="dailyGroups">
        <div *ngIf="allGroupsAreDisabled && !weekliesData.editModeActive">
            All weeklies are disabled, click on the "Edit Weeklies" button to enable weeklies.
        </div>

        <ng-container *ngFor="let item of weekliesData.characters[this.weekliesData.selectedCharacterIndex].taskGroups; let i = index">
            <app-task-group [taskData]="weekliesData" [taskGroup]="item" [title]="item.title" [timerString]="timerStrings[i]" (changeEvent)="changeHandler()"></app-task-group>
        </ng-container>
    </div>
</div>