<div class="titlebar">
    <div class="title">Trackers</div>
    <div class="buttons">
        <select *ngIf="editMode" class="select" (change)="regionChange($event)">
            <option *ngFor="let r of regions" value="r.resetUtcOffset" [selected]="r.resetUtcOffset == generalData.mapleRegion.resetUtcOffset">{{r.name}}</option>
        </select>
        <app-character-selector class="test" [generalData]="generalData" (addCharacterEvent)="passOnAddEvent($event)" (switchCharacterEvent)="passOnSwitchCharacterEvent($event)"></app-character-selector>
        <button class="settings" (click)="changeMode()" ><span class="fa fa-cog fa-lg"></span></button>
    </div>
</div>