.footer {
    width: 100%;
    margin-bottom: 24px;
    text-align: center;
    font-family: "Lemon Milk", sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.footer a {
    text-decoration: underline;
    color: white;
    white-space: nowrap;
}


@media only screen and (max-width: 1400px) {
    .footer {
        display: inline-block;
    }
}