<app-error-box *ngIf="!initialisationComplete"></app-error-box>
<app-info-box *ngIf="generalData.trackerInfo.dailyInfoVisible" [title]="generalData.trackerInfo.dailyInfoTitle" [text]="generalData.trackerInfo.dailyInfoText" (dismissEvent)="infoChangeHandler()"></app-info-box>
<app-maplestory-navigation></app-maplestory-navigation>
<div class="background"></div>
<app-task-titlebar [generalData]="generalData" [editMode]="editMode" (editModeChangeEvent)="editModeChange($event)" (addCharacterEvent)="addCharacter($event)" (switchCharacterEvent)="switchCharacter($event)" (regionChangeEvent)="regionChangeHandler()"></app-task-titlebar>


<app-tracker-navigation></app-tracker-navigation>

<div class="timerWrapper">
    <div class="timer"><span>{{ timerString }}</span></div>
</div>

<div class="taskWrapper">
    <ng-container *ngFor="let item of selectedCharacter.dailyTaskGroups; let i = index">
        <app-task-group class="taskGroupWrapper" [editMode]="editMode" [taskGroup]="item" [imagePrefix]="generalData.trackerInfo.dailyImagePrefix" [resetUtcOffset]="generalData.mapleRegion.resetUtcOffset" (changeEvent)="changeHandler()"></app-task-group>
    </ng-container>
</div>

<app-footer></app-footer>