.characterSelector {
    display: inline-flex;
    flex-direction: row;
    position: relative;
}

.characterSelectorButton {
    width: 260px;
    background-color: #7519FF;
    font-family: "Lemon Milk", sans-serif;
    position: relative;

    height: 50px;
    border-radius: 100px;
    border: none;
    font-weight: 500;
    font-size: 20px;
    color: white;
    font-family: "Lemon Milk", sans-serif;
}

.characterSelectorButton span {
    position: relative;
    transform: translateY(-2px);
    pointer-events: none;
}

.characterSelectorMenu {
    z-index: 50;
    width: 320px;
    padding-top: 5px;
    padding-bottom: 15px;
    background-color: #FFF;
    border-radius: 20px;
    position: absolute;
    right: 0;
    top: 60px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    color: #393939;
}

.characterItem {
    display: flex;
    align-content: flex-end;
    width: 281px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #F9F9F9;
    border-radius: 10px;
    padding-left: 10px;
}

.character:hover {
    background-color: #CCCCCC;
}

/* .character:first-child {
    margin-top: 15px;
} */

.characterItem .fa {
    font-size: 20px;
    margin-right: 10px;
}

.characterItem .fa {
    transform: translateY(5px);
}

.character .fa-edit {
    transform: translateY(6px);
}

.editCharacter {
    background-color: #E5F6E1;
}

.editCharacter input {
    background-color: #E5F6E1;
}

.deleteCharacter {
    background-color: #F1C8C8;
}

.deleteCharacter input { 
    background-color: #F1C8C8;
}

.addCharacter input {
    background-color: #F9F9F9;
}

.name, input {
    margin-right: auto;
    font-family: "Lemon Milk", sans-serif;
    font-weight: 500px;
    font-size: 15px;
}

.characterItem input {
    border: none;
}

.characterItem input:focus {
    outline: none;
}

.plusIcon {
    font-size: 20px;
    line-height: 30px;
    margin-right: 15px;
}

.separator {
    width: 280px;
    margin: 10px auto 10px auto;
    border-top: 1px #F3F3F3 solid;
}

@media only screen and (max-width: 680px) {
    .characterSelectorMenu {
        left: 0;
    }

    .characterSelectorButton {
        margin: 0px 7px 10px 7px;
    }
}