<app-maplestory-side-navigation></app-maplestory-side-navigation>
<div class="info" *ngIf="!initialisationComplete || this.dailiesData.infoVisible && showInfo">
    <p>The daily tracker has been updated!<br><br>
        Just a small change, as Cernium dailies are now under one quest, the Burning Cernium task has been removed.<br><br>
        If you are experiencing issues press the reset button to reset your saved data, if everything is working you can press the dismiss button.<br>
        If this does not resolve your issue please contact me on discord, my username is StarLines.
    </p>
    <button class="buttonStyle" (click)="infoReset()">Reset Data</button>
    <button class="buttonStyle" (click)="infoDismiss()">Dismiss</button>
</div>
<div class="gamePageContent">
    <app-task-topbar-default *ngIf="!dailiesData.editModeActive" [taskData]="dailiesData" [topBarTitle]="'Daily Tracker'" [editButtonTitle]="'Dailies'" (changeEvent)="changeHandler()"></app-task-topbar-default>
    <app-task-topbar-editmode *ngIf="dailiesData.editModeActive" [taskData]="dailiesData" [topBarTitle]="'Daily Tracker'" [regions]="regions" (changeEvent)="changeHandler()" (regionChangeEvent)="regionChangeHandler()" (addCharacterEvent)="addCharacter()"></app-task-topbar-editmode>

    <p *ngIf="!dailiesData.editModeActive" class="timer">Reset in <br> {{ timerString }}</p>
     
    <div class="dailyGroups">
        <div *ngIf="allGroupsAreDisabled && !dailiesData.editModeActive">
            All dailies are disabled, click on the "Edit Dailies" button to enable dailies.
        </div>

        <ng-container *ngFor="let item of dailiesData.characters[this.dailiesData.selectedCharacterIndex].taskGroups; let i = index">
            <app-task-group [taskData]="dailiesData" [taskGroup]="item" [title]="item.title" (changeEvent)="changeHandler()"></app-task-group>
        </ng-container>
    </div>
</div>