.gamePageContent {
    position: relative;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

.disableMode {
    width: 100px;
    height: 50px;
}

.dailyGroups {
    height: 100%;
    max-width: 828px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}

.timer {
    position: absolute;
    top: 0;
    left: 0;
    margin: 8px 0px 0px 8px;
    text-align: center;
    font-size: 16px;
    padding: 3px;
    border: 2px solid var(--game-page-border-color);
}

.buttonWrapper {
    width: 175px;
    margin: 0 auto;
}

.buttonWrapper button{
    margin: 0;
}

.buttonWrapper .left {
    float: left;
}

.buttonWrapper .right {
    float: right;
}

.info {
    width: 1130px;
    margin: 0 auto;
    background-color: var(--game-page-background-color);
    border: 1px solid var(--game-page-border-color);
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
}

.info p {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    padding-top: 8px;
}

.info button {
    margin-bottom: 8px;
}

@media only screen and (max-width: 1635px) {
    .info {
        float: left;
        margin: unset;
        margin-top: 8px;
        margin-left: 9px;
    }
}

@media only screen and (max-width: 1391px) {
    .info {
        width: calc(100% - 262px);
    }
}

@media only screen and (max-width: 1190px) {
    .dailyGroups {
        max-width: 552px;
    }
}

@media only screen and (max-width: 576px) {
    .dailyGroups {
        max-width: 276px;
    }
}

@media only screen and (max-width: 813px) {
    .info {
        margin-left: 8px;
        margin-right: 8px;
        width: calc(100% - 18px);
    }
}