<div class="contentPageOverride">
    <button class="currencyButton" (click)="changeCurrency()">Switch £/€</button>
    <p class="title">Pluton Rewards Calculator</p>
    <p class="infoTextTop">
        This is a community-created calculator based on the subscriptions and reward levels of Plutus.
    </p>
    <div class="inputWrapper">
        <div class="inputLabelWrapper">
            <label for="stackingTier">PLU Stack</label>
            <input class="pluHeldInput" type="number" min="0" max="1000000" placeholder="Amount of PLU Owned" [(ngModel)]="heldPluCount" (input)="heldPluChange($event)"/>
        </div>
    </div>

    <!-- <p [ngClass]="(heldPluCount != 0 && heldPluCount != null) ? 'visible' : 'hidden'" class="stackingTitle">New Reward Level: {{ selectedStackingTierNew.name }}</p> -->

    <div class="overview">
        <div class="overviewItem">
            <h4>Reward Rate</h4>
            <h2>{{ cashbackRateNew }}%</h2>
            <br>
            <br>
            <h2>{{ cashbackRateOld }}%</h2>
        </div>
        <div class="overviewItem">
            <h4>CRY %</h4>
            <h2>{{ cryRateNew }}%</h2>
            <br>
            <br>
            <h2>{{ cryRateOld }}%</h2>
        </div>
        <div class="overviewItem">
            <h4>Perks</h4>
            <h2>{{ perkCountNew }}</h2>
            <br>
            <br>
            <h2>{{ perkCountOld }}</h2>
        </div>
        <div class="overviewItem">
            <h4>Rewards Cap</h4>
            <h2>{{ currencySymbol }}{{ eligibleSpendNew | number : '1.0-0' }}/m</h2>
            <br>
            <br>
            <h2>{{ currencySymbol }}{{ eligibleSpendOld | number : '1.0-0' }}/m</h2>
        </div>
    </div>
</div>
<div class="contentPageOverride contentpageSecondaryColor">
    <div class="overview overview2">
        <div class="overviewItem">
            <h4>Double Rewards<br>Vouchers</h4>
            <h2>{{ selectedStackingTierNew.doubleRewards }}</h2>
            <br>
            <br>
            <h2>0</h2>
        </div>
        <div class="overviewItem">
            <h4>Stackable Perks</h4>
            <h2>{{ selectedStackingTierNew.stackablePerkCount }}</h2>
            <br>
            <br>
            <h2>0</h2>
        </div>
        <div class="overviewItem">
            <h4>Free Payouts</h4>
            <h2>{{ selectedStackingTierNew.freePayouts }}</h2>
            <br>
            <br>
            <h2>0</h2>
        </div>
        <div class="overviewItem">
            <h4>Direct Debit<br>Rewards</h4>
            <h2>{{ selectedStackingTierNew.directDebitRewards }}</h2>
            <br>
            <br>
            <h2>0</h2>
        </div>
        <div class="overviewItem">
            <h4>Golden Tickets</h4>
            <h2>{{ selectedStackingTierNew.goldenTickets }}</h2>
            <br>
            <br>
            <h2>0</h2>
        </div>
    </div>

    <div class="newOutputWrapper">
        <div class="newOutput">
            <h2 class="newOutputTitle">New</h2>
            <div class="monthlyValues">
                <span>Rewards: </span>{{ currencySymbol }}{{ monthlyCashbackValueNew | number : '1.2-2'}}/m
                <br>
                <span>CRY: </span>{{ currencySymbol }}{{ monthlyCryValueNew | number : '1.2-2' }}/m
                <br>
                <span>Perks: </span>{{ currencySymbol }}{{ monthlyPerkValueNew | number : '1.2-2' }}/m
                <br>
                <span>Additional Benefits: </span>{{ currencySymbol }}{{ additionalBenefitsNew | number : '1.2-2' }}/m   <input type="checkbox" id="additionalBenefits" name="additionalBenefits" (change)="calculate()" [(ngModel)]="countAdditionalBenefits" />
            </div>
            <div class="yearlyValue">
                <p class="yearlyHeader">Yearly</p>
                <p class="yearlyAmount">{{ currencySymbol }}{{ year1TotalValueNew | number : '1.2-2' }}</p>
            </div>
            <p class="cryTitle">Stack evolution from 1 year to 5 years.</p>
            <div class="yearlyCry">
                <h4>{{ yearlyStackValuesNew[0] | number : '1.0-0' }} PLU</h4>
                
                <h4>{{ yearlyStackValuesNew[1] | number : '1.0-0' }} PLU</h4>

                <h4>{{ yearlyStackValuesNew[2] | number : '1.0-0' }} PLU</h4>

                <h4>{{ yearlyStackValuesNew[3] | number : '1.0-0' }} PLU</h4>

                <h4>{{ yearlyStackValuesNew[4] | number : '1.0-0' }} PLU</h4>
            </div>
        </div>
        <div class="newOutput">
            <h2 class="newOutputTitle">Old</h2>
            <div class="monthlyValues">
                <span>Rewards: </span>{{ currencySymbol }}{{ monthlyCashbackValueOld | number : '1.2-2'}}/m
                <br>
                <span>CRY: </span>{{ currencySymbol }}{{ monthlyCryValueOld | number : '1.2-2' }}/m
                <br>
                <span>Perks: </span>{{ currencySymbol }}{{ monthlyPerkValueOld | number : '1.2-2' }}/m
                <br>
                <span>Additional Benefits: </span>{{ currencySymbol }}{{ additionalBenefitsOld | number : '1.2-2' }}/m   <input type="checkbox" id="additionalBenefits" name="additionalBenefits" [checked]="countAdditionalBenefits" />
            </div>
            <div class="yearlyValue">
                <p class="yearlyHeader">Yearly</p>
                <p class="yearlyAmount">{{ currencySymbol }}{{ year1TotalValueOld | number : '1.2-2' }}</p>
            </div>
            <p class="cryTitle">Stack evolution from 1 year to 5 years.</p>
            <div class="yearlyCry">
                <h4>{{ yearlyStackValuesOld[0] | number : '1.0-0' }} PLU</h4>
                <h4>{{ yearlyStackValuesOld[1] | number : '1.0-0' }} PLU</h4>
                <h4>{{ yearlyStackValuesOld[2] | number : '1.0-0' }} PLU</h4>
                <h4>{{ yearlyStackValuesOld[3] | number : '1.0-0' }} PLU</h4>
                <h4>{{ yearlyStackValuesOld[4] | number : '1.0-0' }} PLU</h4>
            </div>
        </div>
    </div>
</div>
<div class="contentPageOverride">
    <div class="explainer">
        <div class="explainerTitle">Reward Levels</div>
        <div class="explainerText">Stack your earned PLU to unlock higher reward rates and additional perks as you progress through Reward Levels.</div>
        <div class="explainerTitle">CRY</div>
        <div class="explainerText">Compounding Reward Yield is interest on your PLU and Rewards paid out on a yearly basis.</div>
        <div class="explainerTitle">TODO</div>
        <div class="explainerText">TODO: add new text here.</div>
    </div>
</div>
<div class="contentPageOverride contentpageTertiaryColor">
    <div class="importantNotes">
        <p class="notesTitle">Important Notes</p>
        <div class="noteItem">
            <div class="noteCheckmarkWrapper">
                <span class="noteCheckMark">&#10003;</span>
            </div>
            <div class="noteText">
                The PLU needed for Reward Levels is not considered a cost, as customers keep both their stack and rewards in personal wallets, available for swapping at any time.
            </div>
        </div>
        <div class="noteItem">
            <div class="noteCheckmarkWrapper">
                <span class="noteCheckMark">&#10003;</span>
            </div>
            <div class="noteText">
                TODO: add new text here.
            </div>
        </div>
    </div>
</div>