.contentPageOverride {
    width: 100%;
    background-color: white;
    position: relative;
    z-index: 2;
}

.contentpageSecondaryColor {
    background-color: #F5F9FF;
    z-index: 1;
}

.contentpageTertiaryColor {
    background-color: #2649EC;
    z-index: 3;
}

.currencyButton {
    background-color: rgb(38, 73, 236);
    border: none;
    color: #FFFFFF;
    padding: 5px 8px 5px 8px;
    text-align: center;
    font-size: 16px;
    margin: 8px 8px 0px 0px;
    outline:none;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.title {
    padding-top: 70px;
    padding-bottom: 30px;
    margin: 0px;
    text-align: center;
    font-size: 38px;
    color: rgb(38, 73, 236);
}

.infoTextTop {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 14px;
    max-width: 400px;
    color: rgb(132, 141, 156);
}

.inputWrapper {
    width: 254px;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 40px;
    height: 80px;
}

.inputLabelWrapper {
    float: left;
}

.inputWrapper label {
    color: rgb(38, 73, 236);
    font-weight: bold;
    font-size: 20px;
    margin-left: 12px;
    margin-bottom: 10px;
}

.pluHeldInput {
    width: 208px;
    border: 1px solid #0921B4;
    border-radius: 30px;
    height: 36px;
    padding-left: 18px;
    margin-left: 12px;
    margin-right: 12px;
}

.overview {
    clear: both;
    display: flex;
    align-items: center;
    width: 750px;
    padding-left: 12px;
    padding-right: 12px;
    height: 194px;
    margin: 0 auto;
    justify-content: space-around;
    text-align: center;
}

.overviewItem {
    background-color: #001271;
    border-radius: 20px;
    width: 173px;
    height: 180px;
}

.overview2 .overviewItem {
    width: 135px;
}

.overviewItem h2 {
    margin: 0;
    padding: 9px 12px 7px 12px;
    display: inline-block; 
    background-color: #0923B5;
    border-radius: 6px;
    font-weight: lighter;
    min-width: 80px;
}

.overviewItem h4 {
    margin: 0;
    margin-top: 18px;
    margin-bottom: 5px;
    height: 36px;
    font-weight: bold;
}

.newOutputWrapper {
    clear: both;
    display: flex;
    align-items: center;
    width: 1250px;
    height: 320px;
    margin: 0 auto;
    margin-top: 50px;
    padding-bottom: 50px;
    justify-content: space-around;
    text-align: center;
}

.newOutput {
    position:relative;
    background-color: #2649ea;
    border-radius: 20px;
    width: 600px;
    height: 300px;
}

.newOutputTitle {
    margin: 10px 0px 0px 20px;
    text-align: left;
}

.monthlyValues {
    width: 250px;
    height: 100px;
    text-align: left;
    margin: 20px 0px 0px 20px;
    float: left;
}

.monthlyValues span {
    display: inline-block;
    width: 145px;
}

.yearlyValue {
    width: 150px;
    height: 100px;
    float: right;
    margin: 0px 20px 0px 0px;
    border-radius: 6px;
    background-color: #0923B5;
}

.yearlyValue p {
    width: 100%;
}

.yearlyAmount {
    font-size: 20px;
    font-weight: bold;
}

.cryTitle {
    position: absolute; 
    bottom: 0;
    left: 50%;
    bottom: 62px;
    transform: translateX(-50%);
}

.yearlyCry {
    width: 550px;
    position: absolute; 
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    bottom: 0;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    margin: 0 auto;
}

.yearlyCry h4 {
    margin: 0;
    padding: 16px 12px 7px 12px;
    display: inline-block; 
    background-color: #0923B5;
    border-radius: 6px;
    font-weight: lighter;
    min-width: 83px;
    height: 24px;
}

.explainer {
    padding-top: 97px;
    padding-bottom: 120px;
    width: 738px;
    margin: 0 auto;
    min-height: 300px;
}

.explainerTitle {
    color: #2649EC;
    font-weight: bold;
    width: 300px;
    margin-left: 30px;
    float: left;
    font-size: 19px;
    height: 90px;
}

.explainerText {
    color: #848D9C;
    width: 378px;
    float: left;
    margin-right: 30px;
    font-size: 14px;
    height: 90px;
}

.importantNotes {
    width: 738px;
    height: 200px;
    background-color: white;
    border-radius: 20px;
    margin: 0 auto;
    padding-top: 0px;
    font-size: 12px;
    transform: translateY(-50%);

    box-shadow: -1px 0px 25px -18px rgba(0,0,0,0.42);
    -webkit-box-shadow: -1px 0px 25px -18px rgba(0,0,0,0.42);
    -moz-box-shadow: -1px 0px 25px -18px rgba(0,0,0,0.42);
}

.notesTitle {
    color: #2649EC;
    font-weight: bold;
    font-size: 19px;
    text-align: center;
    width: 100%;
    margin: 0px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.noteItem {
    color: #848D9C;
    float: left;
    width: 50%;
}

.noteCheckmarkWrapper {
    width: 18%;
    float: left;
    text-align: center;
}

.noteCheckMark {
    display: inline-block;
    font-weight: bold;
    background-color: #2649EC;
    color: white;
    font-family: monospace;
    border-radius: 50%;
    padding: 2px 6px 2px 6px;
    margin-left: 15px;
    transform: translateY(-3px);
}

.noteText {
    width: 75%;
    float: left;
    font-size: 14px;
}


@media only screen and (max-width: 761px) {
    .inputWrapper {
        margin-top: 30px;
        width: 254px;
        text-align: center;
        height: 90px;
    }

    .inputLabelWrapper {
        padding-top: 10px;
    }

    .inputWrapper label {
        margin-bottom: 5px;
    }
    
    .overview {
        width: 350px;
        height: auto;
        transform: none;
        padding: 0px;
        padding-bottom: 5px;
        flex-wrap: wrap;
    }

    .overviewItem {
        margin-top: 10px;
        width: 165px;
    }
    
    .overview2 .overviewItem {
        width: 165px;
    }

    .overviewItem:nth-child(-n+2) {
        margin-top: 5px;
    }

    .explainer {
        min-height: 300px;
        width: 300px;
        padding-top: 35px;
        margin: 0 auto;
    }

    .explainerTitle {
        width: 200px;
        float: none;
        height: auto;
        margin-left: 0px;
        padding-bottom: 5px;
    }

    .explainerText {
        width: 290px;
        float: none;
        margin-right: 0px;
        padding-left: 10px;
        height: auto;
        padding-bottom: 20px;
    }

    .importantNotes {
        width: 430px;
        height: 225px;
    }

    .notesTitle {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .noteCheckmarkWrapper {
        width: 30px;
        margin-right: 10px;
    }

    .noteCheckMark {
        margin-left: 0px;
    }

    .noteText {
        width: 300px;
    }

    .noteItem {
        width: 340px;
        margin: 0 auto;
        float: none;
        height: 48px;
        padding-bottom: 25px;
    }
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

@media only screen and (max-width: 453px) {
    .promoSelectionScreen {
        width: 100%;
    }

    .promoItem, .promoInfo {
        width: -webkit-calc(100% - 24px);
        width:    -moz-calc(100% - 24px);
        width:         calc(100% - 24px);
    }

    .importantNotes {
        width: calc(100% - 24px);
    }

    .noteItem {
        width: -webkit-calc(100% - 24px);
        width:    -moz-calc(100% - 24px);
        width:         calc(100% - 24px);
        margin: 0 auto;
        float: none;
        height: 48px;
        padding-bottom: 25px;
    }

    .noteText {
        width: -webkit-calc(100% - 40px);
        width:    -moz-calc(100% - 40px);
        width:         calc(100% - 40px);
    }
}

@media only screen and (max-width: 353px) {
    .importantNotes {
        height: 240px;
    }
}