.contentPageOverride {
    width: 100%;
    background-color: white;
    position: relative;
    z-index: 2;
}

.contentpageSecondaryColor {
    background-color: #F5F9FF;
    z-index: 1;
}

.contentpageTertiaryColor {
    background-color: #2649EC;
    z-index: 3;
}

.currencyButton {
    background-color: rgb(38, 73, 236);
    border: none;
    color: #FFFFFF;
    padding: 5px 8px 5px 8px;
    text-align: center;
    font-size: 16px;
    margin: 8px 8px 0px 0px;
    outline:none;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.title {
    padding-top: 70px;
    padding-bottom: 30px;
    margin: 0px;
    text-align: center;
    font-size: 38px;
    color: rgb(38, 73, 236);
}

.infoTextTop {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 14px;
    max-width: 400px;
    color: rgb(132, 141, 156);
}

.inputWrapper {
    width: 254px;
    margin: 0 auto;
    margin-top: 70px;
    height: 80px;
}

.inputLabelWrapper {
    float: left;
}

.inputWrapper label {
    color: rgb(38, 73, 236);
    font-weight: bold;
    font-size: 20px;
    margin-left: 12px;
    margin-bottom: 10px;
}

.ng-select {
    border:0px;
    min-height: 0px;
    border-radius: 0;
    width: 230px;
    height: 40px;
    font-family: monospace;
    font-size: 14px;
    font-weight: bold;
    margin-left: 12px;
    margin-right: 12px;
}

::ng-deep.ng-select-container {
    border: 1px solid #0921B4 !important;
    border-radius: 30px !important;
    height: 40px !important;
}

::ng-deep.ng-placeholder {
    color:#172A46 !important;
}

::ng-deep.ng-dropdown-panel {
    border-radius: 10px !important;
    transform: translateY(1px) !important;
}

::ng-deep.ng-option:first-child {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

::ng-deep.ng-option:last-child {
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.secondaryInputWrapper {
    width: 762px;
    margin: 0 auto;
    margin-bottom: 0px;
    text-align: center;
}

.averageSpendInput, .pluHeldInput {
    width: 208px;
    border: 1px solid #0921B4;
    border-radius: 30px;
    height: 36px;
    padding-left: 18px;
    margin-left: 12px;
    margin-right: 12px;
}

.averageSpendInput:focus, .pluHeldInput:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.promoButton {
    width: 230px;
    background-color: transparent;
    border: 1px solid #0921B4;
    border-radius: 30px;
    height: 40px;
    font-family: monospace;
    font-size: 14px;
    font-weight: bold;
    margin-left: 12px;
    margin-right: 12px;
}

.requiredSubInfo {
    position: absolute;
    left: 0; 
    right: 0; 
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    transform: translateY(23px);
    text-align: center;
    font-size: 14px;
    color: rgb(132, 141, 156);
}

.promoSelectionScreen {
    margin: 30px auto 0 auto;
    width: 762px;
    padding-bottom: 16px;
    background-color: #FBFBFB;
    border-radius: 8px;
    color: black;
    z-index: 1001;
    text-align: center;
}

.promoRequiredSubOffset {
    margin-top: 90px;
}

.promoHeader {
    margin: 0px;
    padding: 15px 10px 0px 10px;
    font-size: 17px;
    font-weight: bold;
    color: rgb(38, 73, 236);
}

.promoItem {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 351px;
    height: 180px;
    margin: 20px 10px 0px 10px;
    background-color: white;

    border-radius: 8px;
    box-shadow: -1px 0px 25px -18px rgba(0,0,0,0.42);
    -webkit-box-shadow: -1px 0px 25px -18px rgba(0,0,0,0.42);
    -moz-box-shadow: -1px 0px 25px -18px rgba(0,0,0,0.42);
}

.promoTitle {
    float: left;
    width: 300px;
    margin: 20px 0px 0px 20px;

    text-align: left;
    font-size: 18px;

}

.promoDate {
    float: left;
    width: 250px;
    margin: 2px 0px 0px 28px;

    text-align: left;
    font-size: 13px;
}

.promoInfo {
    float: left;
    width: 310px;
    margin: 5px 0px 0px 20px;

    text-align: left;
    color: #848D9C;
}

.promoTerms {
    position: absolute;
    bottom:0; 
    right:0;
    font-size: 11px;
    margin: 0px 10px 5px 0px;
    color: #C2C6CE;
    text-decoration: underline;
}

.selected {
    border: 2px solid #0921B4;
}

.notSelected {
    border: 2px solid white;
}

.overview {
    clear: both;
    display: flex;
    align-items: center;
    width: 511px;
    padding-left: 12px;
    padding-right: 12px;
    height: 210px;
    margin: 0 auto;
    justify-content: space-around;
    text-align: center;
}

.stackingTitle {
    width: 100%;
    margin: 15px 0px 15px 0px;
    text-align: center;
    font-size: 30px;
    color: rgb(38, 73, 236);
}

.overviewItem {
    background-color: #001271;
    border-radius: 20px;
    width: 236px;
    height: 190px;
}

.overviewItem h2 {
    margin: 0;
    padding: 9px 12px 7px 12px;
    display: inline-block; 
    background-color: #0923B5;
    border-radius: 6px;
    font-weight: lighter;
    min-width: 80px;
}

.overviewItem span {
    font-size: 12px;
}

.overviewItem h5 {
    margin:0;
    margin-top: 10px;
    font-weight: bold;
}

.overviewItem h4 {
    margin: 0;
    margin-top: 18px;
    font-weight: bold;
}

.optionSmallText {
    font-size: 14px;
    color: #848D9C;
}

.outputTitle {
    margin-top: 50px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    color: #2649ec;
    font-size: 25px;
}

.outputWrapper {
    display: flex;
    align-items: center;
    width: 762px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
}

.secondOutput {
    padding-bottom: 70px;
}

.headerBackDrop {
    background: linear-gradient(to right, #F5F9FF 50%, white 50%)
}

.header {
    background-color: #2649EA;
    border-radius: 20px;
    width: 275px;
    margin-left: 12px;
    -moz-box-shadow: 0px 7px 26px 4px rgba(38,73,234,0.33);
    -webkit-box-shadow: 0px 7px 26px 4px rgba(38,73,234,0.33);
    box-shadow: 0px 7px 26px 4px rgba(38,73,234,0.33);
    z-index:999;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header p {
    font-size: 19px;
    margin: 0;
    padding: 18px 10px 12px 34px;
    text-align: left;
    font-weight: lighter;
}

.header span {
    float: right;
    /* display: inline-block; */
    font-size: 12px;
    color: #F3F4F5;
    transform: translateY(5px);
    padding: 0px 20px 0px 20px;
}

.header hr {
    border: 1px solid transparent;
}

.header p {
    border-bottom: 1px solid transparent;
}

.values {
    background-color: white;
    border-radius: 0 20px 20px 0;
    z-index: -1;
    width: 275px;
    margin-right: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.values p {
    -webkit-font-smoothing: antialiased;
    font-size: 19px;
    margin: 0;
    padding: 18px 10px 12px 34px;
    color: #172A46;
}

.values p {
    border-bottom: 1px solid #EEEEEE;
}

hr {
    margin: 0px;
}

.values p:last-child, .header p:last-child { border-bottom: none; }

.explainer {
    padding-top: 97px;
    padding-bottom: 120px;
    width: 738px;
    margin: 0 auto;
    min-height: 300px;
}

.explainerTitle {
    color: #2649EC;
    font-weight: bold;
    width: 300px;
    margin-left: 30px;
    float: left;
    font-size: 19px;
    height: 90px;
}

.explainerText {
    color: #848D9C;
    width: 378px;
    float: left;
    margin-right: 30px;
    font-size: 14px;
    height: 90px;
}

.importantNotes {
    width: 738px;
    height: 200px;
    background-color: white;
    border-radius: 20px;
    margin: 0 auto;
    padding-top: 0px;
    font-size: 12px;
    transform: translateY(-50%);

    box-shadow: -1px 0px 25px -18px rgba(0,0,0,0.42);
    -webkit-box-shadow: -1px 0px 25px -18px rgba(0,0,0,0.42);
    -moz-box-shadow: -1px 0px 25px -18px rgba(0,0,0,0.42);
}

.notesTitle {
    color: #2649EC;
    font-weight: bold;
    font-size: 19px;
    text-align: center;
    width: 100%;
    margin: 0px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.noteItem {
    color: #848D9C;
    float: left;
    width: 50%;
}

.noteCheckmarkWrapper {
    width: 18%;
    float: left;
    text-align: center;
}

.noteCheckMark {
    display: inline-block;
    font-weight: bold;
    background-color: #2649EC;
    color: white;
    font-family: monospace;
    border-radius: 50%;
    padding: 2px 6px 2px 6px;
    margin-left: 15px;
    transform: translateY(-3px);
}

.noteText {
    width: 75%;
    float: left;
    font-size: 14px;
}


@media only screen and (max-width: 761px) {
    .inputWrapper {
        margin-top: 30px;
        width: 254px;
        text-align: center;
        height: 120px;
    }

    .inputLabelWrapper {
        padding-top: 10px;
    }

    .inputWrapper label {
        margin-bottom: 5px;
    }

    .secondaryInputWrapper {
        width: 254px;
        margin-top: 24px;
        margin-bottom: 10px;
    }

    .averageSpendInput {
        margin: 0px;
        margin-bottom: 31px;
    }
    
    .requiredSubInfo {
        position: relative;
        transform: translateY(5px);
    }

    .promoButton {
        width: 230px;
    }

    .promoSelectionScreen {
        width: 430px;
        padding-bottom: 38px;
    }

    .overview {
        display: inline-block;
        width: 100%;
        height: auto;
        transform: none;
        padding: 0px;
        padding-bottom: 10px;
    }

    .overviewItem {
        margin: 0 auto;
        margin-top: 20px;
        padding-top: 3px;
    }

    .overviewItem:first-child {
        margin-top: 10px;
    }

    .overviewItem h5 {
        margin-top: 10px;
    }

    .stackingTitle {
        transform: translateY(-23px);
        margin-bottom: 0px;
    }

    .outputWrapper {
        width: 100%;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .header {
        width: 230px;
    }

    .header p {
        height: 40px;
    }

    .values {
        width: 200px;
        padding-top: 9px;
        padding-bottom: 9px;
    }

    .values p {
        padding: 18px 0px 12px 0px;
        height: 40px;
        line-height: 2;
    }

    .values p:last-child {
        padding-bottom: 34px;
    }

    .explainer {
        min-height: 300px;
        width: 300px;
        padding-top: 35px;
        margin: 0 auto;
    }

    .explainerTitle {
        width: 200px;
        float: none;
        height: auto;
        margin-left: 0px;
        padding-bottom: 5px;
    }

    .explainerText {
        width: 290px;
        float: none;
        margin-right: 0px;
        padding-left: 10px;
        height: auto;
        padding-bottom: 20px;
    }

    .importantNotes {
        width: 430px;
        height: 225px;
    }

    .notesTitle {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .noteCheckmarkWrapper {
        width: 30px;
        margin-right: 10px;
    }

    .noteCheckMark {
        margin-left: 0px;
    }

    .noteText {
        width: 300px;
    }

    .noteItem {
        width: 340px;
        margin: 0 auto;
        float: none;
        height: 48px;
        padding-bottom: 25px;
    }
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

@media only screen and (max-width: 453px) {
    .promoSelectionScreen {
        width: 100%;
    }

    .promoItem, .promoInfo {
        width: -webkit-calc(100% - 24px);
        width:    -moz-calc(100% - 24px);
        width:         calc(100% - 24px);
    }

    .importantNotes {
        width: calc(100% - 24px);
    }

    .noteItem {
        width: -webkit-calc(100% - 24px);
        width:    -moz-calc(100% - 24px);
        width:         calc(100% - 24px);
        margin: 0 auto;
        float: none;
        height: 48px;
        padding-bottom: 25px;
    }

    .noteText {
        width: -webkit-calc(100% - 40px);
        width:    -moz-calc(100% - 40px);
        width:         calc(100% - 40px);
    }
}

@media only screen and (max-width: 353px) {
    .importantNotes {
        height: 240px;
    }
}