<div class="contentPageOverride">
    <button class="currencyButton" (click)="changeCurrency()">Switch £/€</button>
    <p class="title">Pluton Rewards Calculator</p>
    <p class="infoTextTop">
        This is a community-created calculator based on the subscriptions and reward levels of Plutus.
    </p>
    <div class="inputWrapper">
        <div class="inputLabelWrapper">
            <label for="stackingTier">PLU Stack</label>
            <input class="pluHeldInput" type="number" min="0" max="1000000" placeholder="Amount of PLU Owned" [(ngModel)]="heldPluCount" (input)="heldPluChange($event)"/>
        </div>
    </div>

    <p [ngClass]="(heldPluCount != 0 && heldPluCount != null) ? 'visible' : 'hidden'" class="stackingTitle">Reward Level: {{ selectedStackingTier.name }}</p>

    <div class="overview">
        <div class="overviewItem">
            <h5>new</h5>
            <h2>{{ cashbackRate }}%</h2>
            <br>
            <h5>old</h5>
            <h2>{{ cashbackRate }}%</h2>
            <h4>Cashback Rate</h4>
        </div>
        
        <div class="overviewItem">
            <h5>new</h5>
            <h2>{{ perkCount }}</h2>
            <br>
            <h5>old</h5>
            <h2>{{ perkCount }}</h2>
            <h4>Perks</h4>
        </div>
    </div>
</div>
<div class="contentPageOverride contentpageSecondaryColor">
    <div class="overview">
        <div class="overviewItem">
            <h5>new</h5>
            <h2>{{ cashbackRate }}%</h2>
            <br>
            <h5>old</h5>
            <h2>{{ cashbackRate }}%</h2>
            <h4>CRY %</h4>
        </div>
        <div class="overviewItem">
            <h5>new</h5>
            <h2>{{ currencySymbol }}{{ eligibleSpend | number : '1.0-0' }}/m</h2>
            <br>
            <h5>old</h5>
            <h2>{{ currencySymbol }}{{ eligibleSpend | number : '1.0-0' }}/m</h2>
            <h4>Rewards Cap</h4>
        </div>
    </div>
    <p class="outputTitle">New Rewards</p>
    <div class="outputWrapper">
        <div class="headerBackDrop">
            <div class="header">
                <p>Cashback Rewards</p>
                <p>Perk Rewards</p>
                <p>Monthly CRY</p>
                <p>Monthly Value</p>
                <p>Value Earned<span>(Year 1)</span></p>
                <p>Value Earned<span>(Year 2)</span></p>
            </div>
        </div>
        <div class="values">
            <p>{{ currencySymbol }}{{ monthlyCashbackValue | number : '1.2-2'}}</p>
            <p>{{ currencySymbol }}{{ monthlyPerkValue | number : '1.2-2' }}</p>
            <p>{{ currencySymbol }}{{ monthlyCryValue | number : '1.2-2' }}</p>
            <p>{{ currencySymbol }}{{ totalMonthlyValue | number : '1.2-2' }}</p>
            <p>{{ currencySymbol }}{{ actualTotalYearlyValue | number : '1.2-2' }}</p>
            <p>{{ currencySymbol }}{{ actualTotalYearlyValue | number : '1.2-2' }}</p>
        </div>
    </div>
    <p class="outputTitle">Old Rewards</p>
    <div class="outputWrapper secondOutput">
        <div class="headerBackDrop">
            <div class="header">
                <p>Cashback Rewards</p>
                <p>Perk Rewards</p>
                <p>Monthly CRY</p>
                <p>Monthly Value</p>
                <p>Value Earned<span>(Year 1)</span></p>
                <p>Value Earned<span>(Year 2)</span></p>
            </div>
        </div>
        <div class="values">
            <p>{{ currencySymbol }}{{ monthlyCashbackValue | number : '1.2-2'}}</p>
            <p>{{ currencySymbol }}{{ monthlyPerkValue | number : '1.2-2' }}</p>
            <p>{{ currencySymbol }}{{ monthlyCryValue | number : '1.2-2' }}</p>
            <p>{{ currencySymbol }}{{ totalMonthlyValue | number : '1.2-2' }}</p>
            <p>{{ currencySymbol }}{{ actualTotalYearlyValue | number : '1.2-2' }}</p>
            <p>{{ currencySymbol }}{{ actualTotalYearlyValue | number : '1.2-2' }}</p>
        </div>
    </div>
</div>
<div class="contentPageOverride">
    <div class="explainer">
        <div class="explainerTitle">Double Reward Vouchers</div>
        <div class="explainerText">Choose transactions once per month to earn double rewards on, with a potential value of up to £/€40.</div>
        <div class="explainerTitle">Golden Tickets</div>
        <div class="explainerText">Invite friends and family via a Golden Ticket, and both of you will enjoy a $20 referral bonus.</div>
        <div class="explainerTitle">CRY</div>
        <div class="explainerText">Compounding Reward Yield is interest on your PLU and Rewards paid out on a yearly basis.</div>
    </div>
</div>
<div class="contentPageOverride contentpageTertiaryColor">
    <div class="importantNotes">
        <p class="notesTitle">Important Notes</p>
        <div class="noteItem">
            <div class="noteCheckmarkWrapper">
                <span class="noteCheckMark">&#10003;</span>
            </div>
            <div class="noteText">
                The redemption cost for boosting rewards cap is determined by customer-set values on third-party platforms.
            </div>
        </div>
        <div class="noteItem">
            <div class="noteCheckmarkWrapper">
                <span class="noteCheckMark">&#10003;</span>
            </div>
            <div class="noteText">
                The PLU needed for Reward Levels is not considered a cost, as customers keep both their stack and rewards in personal wallets, available for swapping at any time.
            </div>
        </div>
    </div>
    <!-- <p class="referralStuff">
        My Plutus referral link:
        <br>
        <a href="https://dex.plutus.it/auth/referee/signup?refId=LiBLlj" target="_blank">click here</a>
        <br>
        <br>
        An ETH address to send PLU to if you want to (or ETH):
        <br>
        0x0aD67F6CE23B3031aD7B516acB7DA791F523ed3B
    </p> -->
</div>