<div class="task" [ngClass]="{'tChecked': task.done && !editMode}" (click)="toggleTask()" *ngIf="evaluateDisplayCondition(task.dispCon)">
    <div *ngIf="!task.enabled && editMode" class="disabledOverlay"></div>
    <div *ngIf="!editMode" class="checkbox" [ngClass]="(task.done)?'cbChecked':'cbUnchecked'"><span *ngIf="task.done" class="fa fa-check"></span></div>
    <div *ngIf="editMode" class="updown">
        <div class="up">
            <span class="fa fa-caret-up" (click)="moveTask('up'); $event.stopPropagation()"></span>
        </div>
        <div class="down">
            <span class="fa fa-caret-down" (click)="moveTask('down'); $event.stopPropagation()"></span>
        </div>
    </div>
    <div class="taskName">{{ task.name }}</div>
    <img [src]="task.type != 'custom' ? 'assets/Games/MaplestoryV2/' + imagePrefix + task.image + '.png' : task.image" onerror="this.onerror=null; this.src='assets/TrackerImages/error.png'" alt="{{task.name}}">
    <div *ngIf="editMode" class="toggle" [ngClass]="(!task.enabled)?'emEnabled':'emDisabled'">
        <span *ngIf="!task.enabled && task.type != 'custom'" class="fa fa-plus"></span>
        <span *ngIf="task.enabled && task.type != 'custom'" class="fa fa-minus"></span>
        <span *ngIf="task.type == 'custom'" class="fa fa-trash"></span>
    </div>
    <app-ursus-timer *ngIf="task.name === 'Ursus' && resetUtcOffset == 0"></app-ursus-timer>
    <app-yu-garden-timer *ngIf="task.name === 'Yu Garden' && resetUtcOffset == 0"></app-yu-garden-timer>
</div>