<div class="symbolInput">
    <div class="checkboxWrapper">
        <input name="dailyQuest" id="dailyQuest" type="checkbox" (change)="valueChanged()" [(ngModel)]="dailyQuest" [ngModelOptions]="{standalone: true}"/>
        <label for="dailyQuest">Daily Quest (20)</label>
    </div>
</div>

<p class="symbolDailyTitle">Weekly Symbols</p>

<div class="symbolInput">
    <div class="checkboxWrapper">
        <input name="esferaGuardian" id="esferaGuardian" type="checkbox" (change)="valueChanged()" [(ngModel)]="esferaGuardian" [ngModelOptions]="{standalone: true}" />
        <label for="esferaGuardian">Esfera Guardian (45)</label>
    </div>
</div>