.timer {
    position: absolute;
    left: -3px;
    bottom: -3px;
    height: auto;
    width: auto;
    border-radius: 3px;
    background-color: #393939;
    padding: 5px;
    font-size: 12px;
    font-family: "Lemon Milk", sans-serif;
    color: white;
    cursor: default;
}