<app-hidden-side-navigation></app-hidden-side-navigation>
<div class="contentPageOverride">
    <p class="title">Hidden</p>
    <p class="intro">Welcome to the hidden section of my website of random stuff. Here you will find stuff like audio/video playback experiments and various other things.</p>
    <div class="changeLog">
        <p class="changeLogTitle">Change Log</p>
        <div class="individualLog">
            <span>Dec 30, 2020</span>
            <p>- Added a color palette generator to extract the dominant colors from an image.</p>
        </div>
        <div class="individualLog">
            <span>Dec 26, 2020</span>
            <p>- Added a color shade & tint chart to the Hex & RGB converter.</p>
        </div>
        <div class="individualLog">
            <span>Dec 25, 2020</span>
            <p>- Implemented Hex & RGB converter.</p>
        </div>
        <div class="individualLog">
            <span>Nov 14, 2020</span>
            <p>- Implemented binary translator.</p>
        </div>
        <div class="individualLog">
            <span>Sept 28, 2020</span>
            <p>- Implemented the konami code to navigate to this page.</p>
        </div>
        <div class="individualLog">
            <span>Sept 8, 2020</span>
            <p>- Implemented stopwatch.</p>
        </div>
        <div class="individualLog">
            <span>Sept 5, 2020</span>
            <p>- Implemented timer.</p>
        </div>
        <div class="individualLog">
            <span>Sept 1, 2020</span>
            <p>- Implemented the home page.</p>
        </div>
    </div>
</div>