<div class="topbar">
  <div class="title">Maplestory Stuff :&#41;</div>
  
  <div class="links">
    <a [routerLink]="'/games/maplestory/home'"><span [class.activelink]="router.isActive('/games/maplestory/home', false)">Home</span></a>
    <a [routerLink]="'/games/maplestory/tracker/daily'"><span [class.activelink]="router.isActive('/games/maplestory/tracker', false)">Tracker</span></a>
    <a [routerLink]="'/games/maplestory/item-flames'"><span [class.activelink]="router.isActive('/games/maplestory/item-flames', false)">Flame Calculator</span></a>
    <a [routerLink]="'/games/maplestory/arcane-symbols'"><span [class.activelink]="router.isActive('/games/maplestory/arcane-symbols', false)">Symbol Calculator</span></a>
  </div>
</div>