.topbar {
    width: 100%;
    height: 65px;
    background-color: #393939;
    display: flex;
    align-items: center;
}

.title{
    height: 25px;
    padding-left: 32px;
    width: 297px;

    font-family: "Gothic A1", sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 25px;
}

.links {
    margin-left: auto;
    margin-right: 32px;

    font-family: "Gothic A1", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
}

.links a {
    min-width: 64px;
    height: 30px;
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 25px;
}

.activelink {
    font-weight: 900;
}


@media only screen and (max-width: 900px) {
    .topbar {
        align-content: flex-start;
        flex-wrap: wrap;
        height: auto;
    }

    .title {
        width: 100%;
        text-align: center;
        padding-left: 0px;
        padding-top: 12px;
    }

    .links {
        margin: 0 auto;
        padding-top: 8px;
        text-align: center;
        
    }

    .links a {
        display: inline-block;
        white-space: nowrap;
        margin-right: 12px;
        margin-left: 12px;
    }
}