.topbar {
    width: 100%;
    height: 65px;
    background-color: #393939;
    display: flex;
    align-items: center;
}

.topbar .title{
    height: 25px;
    padding-left: 32px;

    font-family: "Gothic A1", sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 25px;
}

.topbar .links {
    margin-left: auto;
    margin-right: 32px;

    font-family: "Gothic A1", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
}

.topbar .links a {
    width: 64px;
    height: 30px;
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 25px;
}

.activelink {
    font-weight: 900;
}