<div class="symbolInput">
    <div class="checkboxWrapper">
        <input name="dailyQuest" id="dailyQuest" type="checkbox" (change)="valueChanged()" [(ngModel)]="dailyQuest" [ngModelOptions]="{standalone: true}" />
        <label for="dailyQuest">Daily Quest (10)</label>
    </div>
</div>

<div class="symbolInput">
    <div class="checkboxWrapper">
        <input name="reverseCity" id="reverseCity" type="checkbox" (change)="valueChanged()" [(ngModel)]="reverseCity" [ngModelOptions]="{standalone: true}" />
        <label for="reverseCity">Reverse City Unlocked (10)</label>
    </div>
</div>

<p class="symbolDailyTitle">Weekly Symbols</p>

<div class="symbolInput">
    <div class="checkboxWrapper">
        <input name="erdaSpectrum" id="erdaSpectrum" type="checkbox" (change)="valueChanged()" [(ngModel)]="erdaSpectrum" [ngModelOptions]="{standalone: true}" />
        <label for="erdaSpectrum">Erda Spectrum (45)</label>
    </div>
</div>