<div class="contentPageOverride">
    <button class="currencyButton" (click)="changeCurrency()">Switch £/€</button>
    <p class="title">Pluton Rewards Calculator</p>
    <p class="infoTextTop">
        This is a community-created calculator based on
        the subscriptions and reward levels of Plutus.
    </p>
    <div class="inputWrapper">
        <div class="inputLabelWrapper">
            <label for="subscriptionTier">Subscription Plan</label>
            <ng-select name="subscriptionTier" [searchable]="false" [clearable]="false" [(ngModel)]="selectedSubscriptionTier" (change)="subscriptionTierChange($event)">
                <ng-container *ngFor="let r of subscriptionTiers">
                    <ng-option *ngIf="r.cost == 0" [value]="r">&nbsp;{{ r.name.padEnd(14, '&nbsp;') }}</ng-option>
                    <ng-option *ngIf="r.cost != 0" [value]="r">&nbsp;{{ r.name.padEnd(14, '&nbsp;') }} <span class="optionSmallText">{{ currencySymbol }}{{ r.cost | number : '1.2-2'}}/m</span></ng-option>
                </ng-container>
             </ng-select>
        </div>

        <div class="inputLabelWrapper">
            <label for="stackingTier">Reward Levels</label>
            <ng-select name="stackingTier" [searchable]="false" [clearable]="false" [(ngModel)]="selectedStackingTier" (change)="stackingTierChange($event)">
                <ng-option *ngFor="let r of stackingTiers" [value]="r">&nbsp;{{ r.name.padEnd(14, '&nbsp;') }} <span *ngIf="r.pluRequired != 0" class="optionSmallText">{{ r.pluRequired }} PLU</span></ng-option>
             </ng-select>
        </div>

        <div class="inputLabelWrapper">
            <label for="eligibleSpendTier">Rewards Cap</label>
            <ng-select name="eligibleSpendTier" [searchable]="false" [clearable]="false" [(ngModel)]="selectedEligibleSpendTier" (change)="eligibleSpendTierChange($event)">
                <ng-option *ngFor="let r of eligibleSpendTiers" [value]="r">
                    <span *ngIf="r.name == 'No Higher Cap'">&nbsp;{{ r.name }}</span>
                    <span *ngIf="r.name != 'No Higher Cap'">&nbsp;{{ currencySymbol }}{{ r.eligibleSpend  | number : '1.0-0' }}/m &nbsp;&nbsp;&nbsp;<span *ngIf="r.name != '10000'">&nbsp;</span><span class="optionSmallText">{{ r.cost }} PLU/yr</span></span>
                </ng-option>
             </ng-select>
        </div>
    </div>

    <div class="secondaryInputWrapper">
        <input class="averageSpendInput" type="number" min="0" max="20000" placeholder="Enter Average Monthly Spend" [(ngModel)]="averageMonthlySpend" (input)="averageSpendChange($event)"/>
        <button class="promoButton" (click)="togglePromoVisiblity()"><span *ngIf="!showPromotions">Show Promotions </span><span *ngIf="showPromotions">Hide Promotions </span><div [ngClass]="(showPromotions) ? 'arrow-up' : 'arrow-down'"></div></button>
    </div>

    <!-- shows info text if users has a stack or redeem without having a sub -->
    <p *ngIf="showSubRequiredMessage" class="requiredSubInfo">
        With the standard account, you will not earn any rewards.
        <br>
        Please select one of the three subscriptions to get rewards on your spending.
    </p>

    <div class="promoSelectionScreen" *ngIf="showPromotions" [ngClass]="{'promoRequiredSubOffset': showSubRequiredMessage}">
        <p class="promoHeader">
            Click on a promotion to enable the benefits
        </p>

        <ng-container *ngFor="let r of promos; index as i">
            <div class="promoItem" [ngClass]="(r.enabled) ? 'selected' : 'notSelected'" (click)="togglePromo(i)">
                <span class="promoTitle">{{ r.name }}</span>
                <span class="promoDate">{{ r.date }}</span>
                <p class="promoInfo">{{ r.description.replace("#", currencySymbol) }}</p>
                <a class="promoTerms" href="{{ r.termsLink }}" target="_blank">Full terms</a>
                <!-- <span class="promoTerms">Full terms</span> -->
            </div>
        </ng-container>
    </div>

    <div class="overview">
        <div class="overviewItem">
            <h1>{{ cashbackRate }}%</h1>
            <h5>REWARDS</h5>
        </div>
        <div class="overviewItem">
            <h1>{{ perkCount }}</h1>
            <h5>PERKS</h5>
        </div>
        <div class="overviewItem">
            <h1>{{ currencySymbol }}{{ eligibleSpend | number : '1.0-0' }}/m</h1>
            <h5>REWARDS CAP</h5>
        </div>
    </div>
</div>
<div class="contentPageOverride contentpageSecondaryColor">
    <div class="outputWrapper">
        <div class="headerBackDrop">
            <div class="header">
                <p>Monthly Rewards</p>
                <p>Monthly Perks</p>
                <p>Total Monthly Value</p>
                <p>Subscription Cost <span>(Yearly)</span></p>
                <p>Redeem Cost <span>(Yearly)</span></p>
                <p>Earn Yearly Value <span>(Costs Subtracted)</span></p>
            </div>
        </div>
        <div class="values">
            <p>{{ currencySymbol }}{{ monthlyCashbackValue | number : '1.2-2'}}</p>
            <p>{{ currencySymbol }}{{ monthlyPerkValue | number : '1.2-2' }}</p>
            <p>{{ currencySymbol }}{{ totalMonthlyValue | number : '1.2-2' }}</p>
            <p>{{ currencySymbol }}{{ subscriptionCost | number : '1.2-2' }}</p>
            <p>{{ currencySymbol }}{{ redeemCost | number : '1.2-2' }}</p>
            <p>{{ currencySymbol }}{{ actualTotalYearlyValue | number : '1.2-2' }}</p>
        </div>
    </div>
</div>
<div class="contentPageOverride">
    <div class="explainer">
        <div class="explainerTitle">Subscription Plan</div>
        <div class="explainerText">To earn rewards and perks, you must sign up for a monthly subscription plan.</div>
        <div class="explainerTitle">Reward Levels</div>
        <div class="explainerText">Stack your earned PLU to unlock higher reward rates and additional perks as you progress through Reward Levels.</div>
        <div class="explainerTitle">Rewards Cap</div>
        <div class="explainerText">Increase your monthly spending eligible for rewards by redeeming earned PLU. Redeemed PLU goes back to the Rewards Pool for sustainability.</div>
    </div>
</div>
<div class="contentPageOverride contentpageTertiaryColor">
    <div class="importantNotes">
        <p class="notesTitle">Important Notes</p>
        <div class="noteItem">
            <div class="noteCheckmarkWrapper">
                <span class="noteCheckMark">&#10003;</span>
            </div>
            <div class="noteText">
                The redemption cost for boosting rewards cap is determined by customer-set values on third-party platforms.
            </div>
        </div>
        <div class="noteItem">
            <div class="noteCheckmarkWrapper">
                <span class="noteCheckMark">&#10003;</span>
            </div>
            <div class="noteText">
                The PLU needed for Reward Levels is not considered a cost, as customers keep both their stack and rewards in personal wallets, available for swapping at any time.
            </div>
        </div>
    </div>
    <!-- <p class="referralStuff">
        My Plutus referral link:
        <br>
        <a href="https://dex.plutus.it/auth/referee/signup?refId=LiBLlj" target="_blank">click here</a>
        <br>
        <br>
        An ETH address to send PLU to if you want to (or ETH):
        <br>
        0x0aD67F6CE23B3031aD7B516acB7DA791F523ed3B
    </p> -->
</div>