<app-overwatch-side-navigation></app-overwatch-side-navigation>
<div class="contentPageOverride">
    <p class="title">Overwatch</p>
    <p class="intro">Welcome to the Overwatch section of my website of random stuff. Here you will find stuff like a random hero selector.</p>
    <p class="intro">If you run into any issues, have some suggestions or feature requests feel free to contact me on discord StarLines#0001</p>
    <div class="changeLog">
        <p class="changeLogTitle">Change Log</p>
        <div class="individualLog">
            <span>Aug 1, 2020</span>
            <p>- Implemented the home page.</p>
        </div>
        <div class="individualLog">
            <span>July 24, 2020</span>
            <p>- Implemented the random hero selector.</p>
        </div>
    </div>
</div>