.characterNavigationBar {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 20px;
    text-align: center;
    overflow-wrap: break-word;
}

.characterNavigationBar a {
    padding: 2px 4px 2px 4px;
    margin: 4px 4px 0px 4px;
    font-size: 18px;
    display: inline-block;
}

.characterNavigationBar a:hover {
    cursor: pointer;
}

.notSelected {
    border: 2px solid var(--game-page-border-color);
}

.selected {
    border: 2px solid var(--game-page-accent-color);
}