<div class="symbolInput">
    <div class="checkboxWrapper">
        <input name="dailyQuest" id="dailyQuest" type="checkbox" (change)="valueChanged()" [(ngModel)]="dailyQuest" [ngModelOptions]="{standalone: true}"/>
        <label for="dailyQuest">Daily Quest (20)</label>
    </div>
</div>

<p class="symbolDailyTitle">Weekly Symbols</p>

<div class="symbolInput">
    <div class="checkboxWrapper">
        <input name="spiritSaviour" id="spiritSaviour" type="checkbox" (change)="valueChanged()" [(ngModel)]="spiritSaviour" [ngModelOptions]="{standalone: true}"/>
        <label for="spiritSaviour">Spirit Saviour (45)</label>
    </div>
</div>
