<app-maplestory-side-navigation></app-maplestory-side-navigation>
<div class="contentPageOverride">
    <p class="title">Settings Export</p>
    <p class="intro">Create an export if your settings or import previously saved settings.</p>

    <div class="buttonWrapper">
        <button class="buttonStyle" (click)="exportSettings()">
            Export Settings
        </button>

        <label for="file-upload" class="buttonStyle">
            Import Settings
        </label>
        <input id="file-upload" type="file" (change)="importSettings($event)"/>
    </div>

    <p class="title title2">Reset saved data</p>
    <p class="intro">Experiencing issues with a tracker or calculator? Use this to reset the saved data, if this doesn't fix the issue please contact me on discord so i can look into it (StarLines#0001).</p>
    
    <div class="reset">
        <p class="resetTitle">Calculators</p>
        <p>Arcane symbols</p><button class="buttonStyle" (click)="resetData('arcaneSymbolSaveData')">Reset</button>
        <p>Sacred symbols</p><button class="buttonStyle" (click)="resetData('sacredSymbolSaveDataV2')">Reset</button>
        <p>Item flame</p><button class="buttonStyle" (click)="resetData('flameData')">Reset</button>
        <p>Weapon flame</p><button class="buttonStyle" (click)="resetData('weaponFlameData')">Reset</button>
        <p class="resetTitle">Trackers</p>
        <p>Dailies</p><button class="buttonStyle" (click)="resetData('dailiesData')" (click)="resetData('dailiesDataV3')">Reset</button>
        <p>Weeklies</p><button class="buttonStyle" (click)="resetData('weekliesData')" (click)="resetData('weekliesDataV3')">Reset</button>
    </div>
    

</div>