.contentPageOverride {
    width: 800px;
    background-color: var(--content-page-background-color);
    border: 1px solid var(--content-page-border-color);
    min-height: calc(100vh - 72px);
    margin: 0 auto;
    margin-top: 8px;
}

.textAreaWrapper {
    width: 400px;
    height: 108px;
}

.textAreaOutput:focus {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.inputWrapper {
    margin-top: 15px;
}

.controlsWrapper {
    width: 400px;
    height: 50px;
    margin: 0 auto;
}

.buttonStyle {
    float: left;
    height: 35px;
    line-height: normal;
}

.clear {
    margin-left: 4px;
}

.swap {
    padding-top: 9px;
}

@media only screen and (max-width: 1305px) {
    .contentPageOverride {
        float: left;
        margin: unset;
        margin-top: 8px;
        margin-left: 9px;
    }
}

@media only screen and (max-width: 1061px) {
    .contentPageOverride {
        width: calc(100% - 262px);
    }
}

@media only screen and (max-width: 800px) {
    .contentPageOverride {
        margin-left: 8px;
        margin-right: 8px;
        min-height: calc(100vh - 100px);
        width: calc(100% - 18px);
    }
}

@media only screen and (max-width: 444px) {
    .inputWrapper {
        margin-top: 5px;
    }
}

@media only screen and (max-width: 427px) {
    .textAreaWrapper {
        width: calc(100% - 8px);
    }
}