<div class="contentPage">
  <h2>Home</h2>
  <p>Hello there! <span class="invisible">General Kenobi.</span></p>
  <p>Welcome to the place where I create random things and experiment with stuff.</p>
  <p>Some of the things you can find here are various calculators, trackers and more that I create for games that I enjoy playing. These are created to make mine and other people's lives a bit easier.</p>
  <p>Some info about me:<br />
    I love programming and experimenting with new things.<br />
    My development preferences are C# and Angular which explains why this site is made with Angular. Designing a user interface is not one of my strong points so you may run into some less optimal design choices.</p>
</div>
