<app-error-box *ngIf="!initialisationComplete"></app-error-box>
<app-info-box *ngIf="generalData.trackerInfo.weeklyInfoVisible && initialisationComplete" [title]="generalData.trackerInfo.weeklyInfoTitle" [text]="generalData.trackerInfo.weeklyInfoText" (dismissEvent)="infoChangeHandler()" ></app-info-box>
<app-maplestory-navigation></app-maplestory-navigation>
<div class="background"></div>
<app-task-titlebar [generalData]="generalData" [editMode]="editMode" (editModeChangeEvent)="editModeChange($event)" (addCharacterEvent)="addCharacter($event)" (switchCharacterEvent)="switchCharacter($event)" (regionChangeEvent)="regionChangeHandler()"></app-task-titlebar>


<app-tracker-navigation></app-tracker-navigation>

<div class="taskWrapper">
    <div class="taskGroupWrapper" *ngFor="let item of selectedCharacter.weeklyTaskGroups; let i = index">
        <div *ngIf="item.title === 'Weekly Bosses'" class="timer"><span>{{ "Weekly Bosses Reset in " + timerStrings[0] }}</span></div>
        <div *ngIf="item.title === 'Monday Reset'" class="timer"><span>{{ "Monday Tasks Reset in " + timerStrings[1] }}</span></div>
        <div *ngIf="item.title === 'Thursday Reset'" class="timer"><span>{{ "Thursday Tasks Reset in " + timerStrings[2] }}</span></div>
        <app-task-group class="taskGroupTest" [editMode]="editMode" [taskGroup]="item" [imagePrefix]="generalData.trackerInfo.weeklyImagePrefix" [resetUtcOffset]="generalData.mapleRegion.resetUtcOffset" (changeEvent)="changeHandler()"></app-task-group>
    </div>
</div>

<app-footer></app-footer>