.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    z-index: -10;

    filter: blur(8px);
    -webkit-filter: blur(8px); /* For Safari */

    background-image: url('src\assets\Games\Maplestory\TrackerBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
}

.timer {
    width: 425px;
    height: 30px;
    background-color: #393939;
    border-radius: 6px;

    margin-bottom: 20px;

    font-size: 15px;
    font-weight: 500;
    font-family: "Lemon Milk", sans-serif;
    text-align: center;
}

.timer span {
    display: inline-block;
    vertical-align: middle;
    padding-top: 5px;
}

.taskWrapper {
    width: 1375px;
    margin: 0 auto;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-flex-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}