<app-maplestory-navigation></app-maplestory-navigation>
<div class="background"></div>
<app-task-titlebar [generalData]="generalData" [editMode]="editMode" (editModeChangeEvent)="editModeChange($event)" (addCharacterEvent)="addCharacter($event)" (switchCharacterEvent)="switchCharacter($event)" (regionChangeEvent)="regionChangeHandler()"></app-task-titlebar>


<app-tracker-navigation></app-tracker-navigation>

<div class="taskWrapper">
    <div *ngFor="let item of selectedCharacter.weeklyTaskGroups; let i = index" class="groupWrapper">
        <div *ngIf="item.title === 'Weekly Bosses'" class="timer"><span>{{ "Weekly Boss Reset in " + timerStrings[0] }}</span></div>
        <div *ngIf="item.title === 'Weekly Tasks'" class="timer"><span>{{ "Weekly Tasks Reset in " + timerStrings[1] }}</span></div>
        <div *ngIf="item.title === 'Arcane Weeklies'" class="timer"><span>{{ "Weekly Arcane reset in " + timerStrings[2] }}</span></div>
        <app-task-group [editMode]="editMode" [taskGroup]="item" [imagePrefix]="generalData.trackerInfo.weeklyImagePrefix" [resetUtcOffset]="generalData.mapleRegion.resetUtcOffset" (changeEvent)="changeHandler()"></app-task-group>
    </div>
</div>