.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    z-index: -10;

    filter: blur(8px);
    -webkit-filter: blur(8px); /* For Safari */

    background-image: url('src\assets\Games\Maplestory\TrackerBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
}

.timerWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timer {
    width: 1375px;
    height: 30px;
    background-color: #393939;
    border-radius: 6px;

    font-size: 15px;
    font-weight: 500;
    font-family: "Lemon Milk", sans-serif;
    color: white;
    text-align: center;
}

.timer span {
    display: inline-block;
    vertical-align: middle;
    padding-top: 5px;
}

.taskWrapper {
    width: 1375px;
    margin: 0 auto;
    margin-top: 20px;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-flex-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

@media only screen and (max-width: 1400px) {
    .timerWrapper {
        width: 900px;
        margin: 0 auto 20px auto;
    }

    .taskWrapper {
        width: 950px;
        display: block;
        margin: 0 auto;
    }

    .taskGroupWrapper {
        display: block;
        float: left;
        margin: 0px 25px 0px 25px;
    }
}

@media only screen and (max-width: 953px) {
    .timerWrapper {
        width: 425px;
        margin: 0 auto 20px auto;
    }

    .taskWrapper {
        width: 425px;
    }

    .taskGroupWrapper {
        display: block;
        float: none;
        margin: 0 auto;
    }
}