<app-maplestory-navigation></app-maplestory-navigation>
<div class="background"></div>
<app-task-titlebar [generalData]="generalData" [editMode]="editMode" (editModeChangeEvent)="editModeChange($event)" (addCharacterEvent)="addCharacter($event)" (switchCharacterEvent)="switchCharacter($event)" (regionChangeEvent)="regionChangeHandler()"></app-task-titlebar>
<!-- <div class="titlebar">
    <div class="title">Trackers</div>
    <div class="buttons">
        <div class="characterSelector">
            <button class="characterSelectorButton">Unhe (Ark) <span class="fa fa-caret-down"></span></button>
            <div class="characterSelectorMenu">
                <div class="characterItem character">
                    <span class="name">Character 1</span>
                    <span class="fa fa-edit"></span>
                    <span class="fa fa-trash"></span>
                </div>
                <div class="characterItem deleteCharacter">
                    <span class="name">Delete "Character 2"?</span>
                    <span class="fa fa-check"></span>
                    <span class="fa fa-close"></span>
                </div>
                <div class="characterItem character">
                    <span class="name">Character 3</span>
                    <span class="fa fa-edit"></span>
                    <span class="fa fa-trash"></span>
                </div>
                <div class="characterItem editCharacter">
                    <input name="editChar" id="editChar" type="text" placeholder="character name">
                    <span class="fa fa-check"></span>
                    <span class="fa fa-close"></span>
                </div>
                <div class="separator"></div>
                <div class="characterItem">
                    <span class="plusIcon">+</span><span class="name">new character</span>
                </div>
                <div class="characterItem addCharacter">
                    <input name="addChar" id="addChar" type="text" placeholder="enter name">
                    <span class="fa fa-check"></span>
                    <span class="fa fa-close"></span>
                </div>
            </div>
        </div>
        <button class="settings"><span class="fa fa-cog fa-lg"></span></button>
    </div>
</div> -->
<div class="trackerSwitcher">
    <button class="dailyTracker">Daily Tracker</button>
    <button class="weeklyTracker">Weekly Tracker</button>
</div>
<div class="timerWrapper">
    <div class="timer"><span>{{ timerString }}</span></div>
</div>

<div class="taskWrapper">
    <ng-container *ngFor="let item of selectedCharacter.dailyTaskGroups; let i = index">
        <app-task-group [editMode]="editMode" [taskGroup]="item" [resetUtcOffset]="generalData.mapleRegion.resetUtcOffset" (changeEvent)="changeHandler()"></app-task-group>
    </ng-container>

    <!-- <div class="taskGroup">
        <div class="taskGroupHeader">
            <img class="taskGroupImage" [src]="'assets/Games/MaplestoryV2/Daily/ranmaru.png'" onerror="this.onerror=null; this.src='assets/TrackerImages/Custom.png'">
            <div class="taskGroupTitle">Bosses</div>
        </div>

        <div class="progress" data-label="Progress: 15/15">
            <span class="value" style="width:100%;"></span>
        </div>

        <div class="task" [ngClass]="{'tChecked': true}">
            <div class="checkbox" [ngClass]="(true)?'cbChecked':'cbUnchecked'"><span *ngIf="true" class="fa fa-check"></span></div>
            <div class="taskName">Zakum</div>
            <img [src]="'assets/Games/MaplestoryV2/Daily/Zakum.png'" onerror="this.onerror=null; this.src='assets/TrackerImages/Custom.png'">
        </div>
        <div class="task" [ngClass]="{'tChecked': false}">
            <div class="checkbox" [ngClass]="(false)?'cbChecked':'cbUnchecked'"><span *ngIf="false" class="fa fa-check"></span></div>
            <div class="taskName">Magnus</div>
            <img [src]="'assets/Games/MaplestoryV2/Daily/Magnus.png'" onerror="this.onerror=null; this.src='assets/TrackerImages/Custom.png'">
        </div>
    </div>
    <div class="taskGroup">
        <div class="taskGroupHeader">
            <img class="taskGroupImage" [src]="'assets/Games/MaplestoryV2/Daily/MPE.png'" onerror="this.onerror=null; this.src='assets/TrackerImages/Custom.png'">
            <div class="taskGroupTitle">Tasks</div>
        </div>
        <div class="progress" data-label="Progress: 0/11">
            <span class="value" style="width:1%;"></span>
        </div>

        <div class="task" [ngClass]="{'tChecked': true}">
            <div *ngIf="false" class="checkbox" [ngClass]="(false)?'cbChecked':'cbUnchecked'"><span *ngIf="false" class="fa fa-check"></span></div>
            <div *ngIf="editMode" class="updown">
                <span class="fa fa-caret-up"></span>
                <span class="fa fa-caret-down"></span>
            </div>
            <div class="taskName">Magnus</div>
            <img [src]="'assets/Games/MaplestoryV2/Daily/Magnus.png'" onerror="this.onerror=null; this.src='assets/TrackerImages/Custom.png'">
            <div *ngIf="editMode" class="toggle" [ngClass]="(true)?'emEnabled':'emDisabled'">
                <span *ngIf="true" class="fa fa-plus"></span>
                <span *ngIf="false" class="fa fa-minus"></span>
            </div>
        </div>
        <div class="task" [ngClass]="{'tChecked': false}">
            <div *ngIf="false" class="checkbox" [ngClass]="(false)?'cbChecked':'cbUnchecked'"><span *ngIf="false" class="fa fa-check"></span></div>
            <div *ngIf="editMode" class="updown">
                <span class="fa fa-caret-up"></span>
                <span class="fa fa-caret-down"></span>
            </div>
            <div class="taskName">Magnus</div>
            <img [src]="'assets/Games/MaplestoryV2/Daily/Magnus.png'" onerror="this.onerror=null; this.src='assets/TrackerImages/Custom.png'">
            <div *ngIf="editMode" class="toggle" [ngClass]="(false)?'emEnabled':'emDisabled'">
                <span *ngIf="false" class="fa fa-plus"></span>
                <span *ngIf="true" class="fa fa-minus"></span>
            </div>
        </div>
        <div class="task" [ngClass]="{'tChecked': false}">
            <div *ngIf="false" class="checkbox" [ngClass]="(false)?'cbChecked':'cbUnchecked'"><span *ngIf="false" class="fa fa-check"></span></div>
            <div *ngIf="editMode" class="updown">
                <span class="fa fa-caret-up"></span>
                <span class="fa fa-caret-down"></span>
            </div>
            <div class="taskName">Magnus</div>
            <img [src]="'assets/Games/MaplestoryV2/Daily/Magnus.png'" onerror="this.onerror=null; this.src='assets/TrackerImages/Custom.png'">
            <div *ngIf="editMode" class="toggle" [ngClass]="(false)?'emEnabled':'emDisabled'">
                <span *ngIf="false" class="fa fa-plus"></span>
                <span *ngIf="false" class="fa fa-minus"></span>
                <span *ngIf="true" class="fa fa-trash"></span>
            </div>
        </div>
    </div>
    <div class="taskGroup">
        <div class="taskGroupHeader">
            <img class="taskGroupImage" [src]="'assets/Games/MaplestoryV2/Daily/VJ.png'" onerror="this.onerror=null; this.src='assets/TrackerImages/Custom.png'">
            <div class="taskGroupTitle">Dailies</div>
        </div>
        <div class="progress" data-label="Progress: 7/14">
            <span class="value" style="width:50%;"></span>
        </div>

        <div class="addTask">
            <span class="fa fa-plus"></span>
            <span>Custom tracker</span>
        </div>
    </div> -->
</div>