<div class="navbar">
  <p class="navbartitle">Random Stuff</p>
  <div class="verticalSeparator"></div>
  <a [routerLink]="'home'"><span [class.underline]="router.isActive('/home', false)">Home</span></a>
  <a [routerLink]="'about'"><span [class.underline]="router.isActive('/about', false)">About</span></a>
  <div class="dropdown">
    <button class="dropbtn" (click)="showDropDown($event, 'games')">
      <span [class.underline]="router.isActive('/games', false)">
        Games
        <i class="fa fa-caret-down"></i>
      </span>
    </button>
    <div class="dropdown-content" *ngIf="showGamesDropDown" (clickOutside)="hideDropDown('games')">
      <!-- <a [routerLink]="'games/ark/home'"><span [class.underline]="router.isActive('/games/ark', false)">ARK: Survival Evolved</span></a> -->
      <a [routerLink]="'games/maplestory/home'"><span [class.underline]="router.isActive('/games/maplestory', false)">Maplestory</span></a>
      <!-- <a [routerLink]="'games/overwatch/home'"><span [class.underline]="router.isActive('/games/overwatch', false)">Overwatch</span></a> -->
      <!-- <a [routerLink]="'games/genshin/home'"><span [class.underline]="router.isActive('/games/genshin', false)">Genshin Impact</span></a> -->
    </div>
  </div>

  <div class="dropdown settings">
    <button class="dropbtn" (click)="showDropDown($event, 'settings')">
      <i class="fa fa-cog fa-lg"></i>
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content settings-content" *ngIf="showSettingsDropDown" (clickOutside)="hideDropDown('settings')">
      <p class="settingsp">
        Dark Mode <input type="checkbox" id="switch" [(ngModel)]="darkMode" (change)="toggleTheme($event)"/><label for="switch"></label>
      </p>
    </div>
  </div>
</div>