<app-maplestory-side-navigation></app-maplestory-side-navigation>
<div class="contentPageOverride">
    <p class="title">MapleStory</p>
    <p class="intro">Welcome to the MapleStory section of my website of random stuff. Here you will find things like
        calculators and trackers. The daily and weekly trackers have an option to show the reset times for other regions
        but because i play on GMS the trackers are based on GMS content and events.</p>
    <p class="intro">If you run into any issues, have some suggestions or feature requests feel free to contact me on discord my name there is starlines</p>
    <div class="changeLog">
        <p class="changeLogTitle">Change Log</p>
        <div class="individualLog">
            <span>December 8, 2023</span>
            <p>- Added new Sacred symbols to the sacred symbol calculator.</p>
            <p>- Added the new sacred symbol dailies (the newer ones will show up as time goes by).</p>
        </div>
        <div class="individualLog">
            <span>December 4, 2023</span>
            <p>- Adjusted arcane river dailies based on new age changes</p>
        </div>
        <div class="individualLog">
            <span>June 15, 2023</span>
            <p>- Arcane River dailies were adjusted and weeklies have been added based on the changes in the Savior patch.</p>
            <p>- Added Savior dailies & weeklies.</p>
        </div>
        <div class="individualLog">
            <span>March 11, 2023</span>
            <p>- Add support for tracking up to 20 characters in the item flame calculator.</p>
        </div>
        <div class="individualLog">
            <span>March 7, 2023</span>
            <p>- Added the odium symbol to the symbol calculator.</p>
        </div>
        <div class="individualLog">
            <span>March 6, 2023</span>
            <p>- Added tenebris research to Arcane river dailies.</p>
            <p>- Added a new dailies group for Grandis dailies.</p>
        </div>
        <div class="individualLog">
            <span>July 15, 2022</span>
            <p>- Updated the code behind the dailies & weeklies tracker.</p>
            <p>- Added support for more than 4 characters in the dailies & weeklies tracker.</p>
            <p>- Added the sacred symbol calculator (works identitcal to the arcane symbol calculator)</p>
        </div>
        <div class="individualLog">
            <span>June 15, 2022</span>
            <p>- Adjusted the Arcane symbol calculator to use the new values for level up cost, demon avenger hp & xenon stats introduced by the Destiny update.</p>
        </div>
        <div class="individualLog">
            <span>December 5, 2021</span>
            <p>- Adjusted the Arcane symbol calculator to work with the new overflow symbols for symbol experience.</p>
            <p>- Increased the symbols gained from the Lachelein daily quest from 4 to 8. This now matches the recent ingame change.</p>
        </div>
        <div class="individualLog">
            <span>November 26, 2021</span>
            <p>- Added Lara to the list of classes to select in the item flame calculator.</p>
        </div>
        <div class="individualLog">
            <span>July 7, 2021</span>
            <p>- Added Kain to the list of classes to select in the item flame calculator.</p>
        </div>
        <div class="individualLog">
            <span>July 6, 2021</span>
            <p>- Dailies Tracker added countdown timer to Yu Garden for when the merchant arrives and leaves.</p>
            <p>- Arcane symbol calculator now supports the x2 multiplier for unlocking reverse city and yum yum island.</p>
        </div>
        <div class="individualLog">
            <span>April 21, 2021</span>
            <p>- Restructured the code behind the dailies & weeklies tracker. This makes the addition of new features easier.</p>
            <p>- Dailies & weeklies now keep track of the character you had last selected.</p>
        </div>
        <div class="individualLog">
            <span>Jan 16, 2021</span>
            <p>- Event dailies & weeklies are now scheduled to appear and dissapear based on their start and end date.</p>
        </div>
        <div class="individualLog">
            <span>Dec 24, 2020</span>
            <p>- Added weapon flame tier calculator.</p>
        </div>
        <div class="individualLog">
            <span>Sept 20, 2020</span>
            <p>- Added option to create custom dailies/weeklies.</p>
        </div>
        <div class="individualLog">
            <span>Sept 16, 2020</span>
            <p>- Added flamescore calculator.</p>
        </div>
        <div class="individualLog">
            <span>Sept 2, 2020</span>
            <p>- Added support for other region reset times to the daily and weekly tracker.</p>
        </div>
        <div class="individualLog">
            <span>Aug 29, 2020</span>
            <p>- Added count down timer for golden time in the ursus daily task.</p>
        </div>
        <div class="individualLog">
            <span>Aug 4, 2020</span>
            <p>- Added multi character support to the daily and weekly tracker.</p>
        </div>
        <div class="individualLog">
            <span>Aug 1, 2020</span>
            <p>- Implemented the home page.</p>
            <p>- Fixed an issue in the weeklies tracker for timezones that are behind UTC.</p>
        </div>
        <div class="individualLog">
            <span>July 30, 2020</span>
            <p>- Added the weeklies tracker.</p>
        </div>
        <div class="individualLog">
            <span>July 29, 2020</span>
            <p>- Added the dailies tracker.</p>
        </div>
        <div class="individualLog">
            <span>July 28, 2020</span>
            <p>- Added the arcane symbol calculator.</p>
        </div>
    </div>
</div>