.regionSelector {
    position: absolute;
    top: 0;
    left: 0;
    margin: 8px 0px 0px 8px;
}

.regionSelector select {
    width: 80px;
    margin: 0px;
}

.editModeMessage {
    color: red;
    margin: 0px 0px 10px 0px;
    text-align: center;
}

.characterNameInput {
    display: inline-block;
    margin-top: 3px;
}

.characterNameInput label {
    display:block;
    text-align: center;
    font-size: 15px;
}

.characterNameInput input{
    display:block;
    margin-top: 3px;
    text-align: center;
    width: 180px;
}

.inputWrapper {
    text-align: center;
    margin-bottom: 10px;
}

.editButton {
    background-color: var(--game-page-accent-color);
    border: none;
    color: #FFFFFF;
    padding: 5px 8px 5px 8px;
    text-align: center;
    font-size: 16px;
    margin: 8px 8px 0px 0px;
    outline:none;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.title {
    margin: 0px;
    text-align: center;
    font-size: 25px;
    text-decoration: underline;
    margin-top: 5px;
}

@media only screen and (max-width: 950px) {
    .title {
        padding-top: 48px;
    }
}