<div class="taskGroup">
    <div class="taskGroupHeader">
        <img class="taskGroupImage" [src]="'assets/Games/MaplestoryV2/' + imagePrefix + taskGroup.image + '.png'" onerror="this.onerror=null; this.src='assets/TrackerImages/Custom.png'">
        <div class="taskGroupTitle">{{ taskGroup.title }}</div>
    </div>

    <div class="progress" [attr.data-label]="'Progress: ' + totalCompleted + '/' + totalEnabledTasks">
        <span class="value" [style.width]="totalCompleted/totalEnabledTasks*100 + '%'"></span>
    </div>

    <div class="selectAll" [ngClass]="{'tChecked': selectAll}" (click)="toggleSelectAll()" *ngIf="!editMode">
        <div *ngIf="!editMode" class="checkbox" [ngClass]="(selectAll)?'cbChecked':'cbUnchecked'"><span *ngIf="selectAll" class="fa fa-check"></span></div>
        <div class="selectAllName">Select All</div>
    </div>

    <ng-container *ngFor="let task of taskGroup.tasks; let i = index">
        <app-task *ngIf="task.enabled || editMode" [task]="task" [index]="i" [editMode]="editMode" [imagePrefix]="imagePrefix" [resetUtcOffset]="resetUtcOffset" (disableEvent)="disableTask($event)" (moveEvent)="moveTask($event)" (toggleEvent)="toggleHandler()"></app-task>
    </ng-container>

    <div *ngIf="taskGroup.allDisabled && !editMode" class="allDisabledMessage">
        All tasks in this group are disabled
    </div>
    <div *ngIf="editMode" class="addTask" (click)="customTaskStartAdding()">
        <span class="fa fa-plus"></span>
        <span>Custom tracker</span>
    </div>
    <div *ngIf="addingCustomTask" class="addTaskOverlay">
        <div class="addTaskMenu">
            <p class="addTaskTitle">Custom Tracker</p>
            <div class="addTaskInputWrapper">
                <label for="name">Custom Tracker Name<span>*</span></label>
                <input type="text" id="name" name="name" [(ngModel)]="customTaskName" placeholder="__________________________________">
            </div>
            <div class="addTaskInputWrapper">
                <label for="link">Custom Tracker Image (Optional)</label>
                <input type="text" id="link" name="link"  [(ngModel)]="customTaskImageUrl" placeholder="__________________________________">
            </div>
            <div class="buttons">
                <button class="cancel" (click)="cancelAddingCustomTask()">Cancel</button>
                <button class="save" (click)="confirmAddingCustomTask()">Save</button>
            </div>
        </div>
    </div>
</div>