
.taskGroup {
    width: 425px;
    min-height: 50px;
    border-radius: 6px;
    background-color: white;
    /* for some reason the ccs broke when putting things in their own component and this fixes it: */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: white 1px solid;
    padding-bottom: 9px;
}

.taskGroupHeader {
    position: relative;
    margin: 20px 20px 15px 20px;
    width: 385px;
    height: 212px;
}

.taskGroupImage {
    width: 385px;
    height: 212px;
    border-radius: 3px;
}

.taskGroupTitle {
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 10;
    width: 100%;
    height: 54px;
    background-color: rgba(10, 10, 10, 0.5);
    text-align: right;
    font-family: "Lemon Milk", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 54px;
    padding-right: 25px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.progress {
    height: 30px;
    width: 385px;
    margin: 0 auto 10px auto;
    background-color: #393939;
    border-radius: 3px;
    position: relative;
}

.progress:before {
    content: attr(data-label);
    font-size: 15px;
    font-weight: 300;
    position: absolute;
    text-align: center;
    font-family: "Lemon Milk", sans-serif;
    top: 5px;
    left: 0;
    right: 0;
}

.progress .value {
    background-color: #59C73E;
    display: inline-block;
    height: 100%;
    border-radius: 3px;
}

.allDisabledMessage {
    width: 385px;
    height: 70px;
    background-color: #EBEBEB;
    margin: 0 auto 10px auto;
    font-size: 15px;
    font-family: "Lemon Milk", sans-serif;
    color: #393939;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addTask {
    width: 385px;
    height: 70px;
    background-color: #EBEBEB;
    margin: 0 auto 10px auto;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Lemon Milk", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #393939;
}

.addTask span {
    margin: 0 10px 0 10px;
}

.addTask span:nth-child(1) {
    padding-top: 1px;
}

.addTask span:nth-child(2) {
    line-height: 10px;
}

.addTaskMenu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Lemon Milk", sans-serif;
    color: #393939;
    width: 548px;
    height: 370px;
    border-radius: 6px;;
    background-color: white;
    z-index: 110;
}

.addTaskTitle {
    width: 100%;
    text-align: center;
    font-family: "Lemon Milk", sans-serif;
    color: #393939;
    font-size: 20px;
    margin-bottom: 30px;
}

.addTaskInputWrapper {
    width: 388px;
    margin: 0 auto;
}

.addTaskMenu label {
    display: block;
    text-align: center;
    margin-bottom: 5px;
}

.addTaskMenu span {
    color: #B45757;
}

.addTaskMenu input {
    width: 388px;
    height: 51px;
    border-radius: 6px;
    padding: 8px;
    box-sizing: border-box;
    background-color: #EBEBEB;
    border: none;
    text-align: center;
    font-size: 14px;
    font-family: "Lemon Milk", sans-serif;
    color: #393939;
    margin-bottom: 25px;
}

.addTaskMenu input:focus {
    outline: none;
}

.buttons {
    display: flex; /* Enables flexbox layout */
    justify-content: space-between; /* Distributes space between items */
    width: 260px;
    margin: 0 auto;
}

.buttons button {
    height: 50px;
    border-radius: 100px;
    border: none;
    font-weight: 500;
    font-size: 20px;
    padding: 0px 25px 0px 25px;
    color: white;
    font-family: "Lemon Milk", sans-serif;
}

.buttons .cancel {
    background-color: #B45757;
}

.buttons .save {
    background-color: #6FC25B;
}

.addTaskOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}